#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
    z-index: 100;
    display: none;
}

.cnt223 a {
    text-decoration: none;
}

.popup {
    width: 100%;
    margin: 0 auto;
    display: none;
    position: fixed;
    z-index: 101;
    height:100% !important;
}

.cnt223 {
    min-width: 50%;
    width: 50%;
    min-height: 150px;
    margin: 100px auto;
    background-color: #f30f97;
    position: relative;
    z-index: 103;
    padding: 15px 35px;
    border-radius: 5px;
    box-shadow: 0 2px 5px #000;


    /* -webkit-filter: blur(5px);
-moz-filter: blur(5px);
-o-filter: blur(5px);
-ms-filter: blur(5px);
filter: blur(5px); */
}

.cnt223 p {
    clear: both;
    color: #555555;
    /* text-align: justify; */
    font-size: 20px;
    font-family: sans-serif;
}

.cnt223 p a {
    color: #0c0c0c;
    font-weight: bold;
}

.cnt223 .x {
    float: right;
    height: 35px;
    left: 22px;
    position: relative;
    top: -25px;
    width: 34px;
}

.cnt223 .x:hover {
    cursor: pointer;
}
.popup_heading{
    color:black;
    text-align: center;
    
}
input[type="text"]::placeholder{
    text-align: center;
}
input[type="button"]{
    width:100%;
}
@media screen and (min-width: 0px) and (max-width: 400px) {
    input[type="text"]{ font-size: 10px; }  /* show it on small screens */
  }

/* .popup{
    background-image: linear-gradient(rgb(0, 225, 255), rgb(0, 247, 255), blue);
} */
.slider-item.blur{
    filter: 'blur(4px)';
    -webkit-filter: 'blur(4px)';
    }